body {
    cursor: grab;
    background-color: black;
  }
  
h1, #player1, #player2 {
    font-family: Helvetica;
    color: white;
}
  
h1 {
    font-size: 50px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
} 

#player1 {
    font-size: 35px;
    justify-content: center;
    margin-top: 6px;
    margin: 0 auto;
    margin-top: 6px;
    text-align: center;
}
  
#player2 {
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    margin: 40px 0 6px 0;
}

.reset {
    font-family: Helvetica;
    font-size: 40px;
    background-color: black;
    color: white;
    float: right;
    margin-right: 150px;
}

.gameboard {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: 5px  white solid;
    width: 1475px;
    height: 465px;
    border-radius: 88px;
    text-align: center;
    margin: 0 auto;
}

#one, #two {
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 35px; 
    padding: 10px;
}

#one {
    justify-content: space-between;
    margin: 290px 0 0 204px;
}

#two {
    justify-content: space-around;
    margin: 20px 0 0 200px;  
}

.hole {
    width: 130px;
    height: 125px;
    border: 2px  white solid;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 0 18px;
    background-color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    color: white;
}

.mancala {
    width: 120px;
    height: 300px;
    border: 2px  white solid;
    border-radius: 50%;
    background-color: black;
}

.mancala1 {
    margin: 75px 10px 0 75px;
}

.mancala2 {
    margin: 75px 10px 0 1075px;
}